<!DOCTYPE html>
<html ng-app="electrello" ng-cloak>
  <head>
    <meta charset="UTF-8">
    <title>Electrello</title>
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.css" media="screen" title="no title" charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <link rel="stylesheet" href="styles/styles.css" charset="utf-8">
  </head>
  <body class="{{ pageClass }}" id="popupContainer">
      <header>
          <section class="profileSettings" ng-controller="MenuController">
              <md-menu>
                <md-button aria-label="Open menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                  <md-icon md-menu-origin md-svg-icon="settings"></md-icon>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-click="show_main_dashboard()">
                          <md-icon md-svg-icon="view-dashboard"></md-icon>
                          Main Dashboard
                        </md-button>
                    </md-menu-item>
                    <md-menu-divider></md-menu-divider>
                  <md-menu-item>
                      <md-button ng-click="show_profile()">
                        <md-icon md-svg-icon="human-greeting"></md-icon>
                        View Profile
                      </md-button>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item>
                    <md-button ng-click="showAlert($event, 'token')">
                      <md-icon md-svg-icon="delete-forever" md-menu-align-target></md-icon>
                      Delete Token
                    </md-button>
                  </md-menu-item>
                  <md-menu-divider></md-menu-divider>
                  <md-menu-item>
                    <md-button ng-click="showAlert($event, 'profile')">
                      <md-icon md-svg-icon="delete-sweep"></md-icon>
                      Delete Profile Data
                    </md-button>
                  </md-menu-item>
                </md-menu-content>
              </md-menu>
          </section>

          <h2><md-icon md-svg-icon="view-dashboard"></md-icon> ElecTrello</h2>
      </header>

      <!-- <section ng-if="!board_background_color" class="electrelloBody" ng-view ng-style="{'background-image':'url(' + board_background_image + ')'}"></section>
      <section ng-if="!board_background_image" class="electrelloBody" ng-view ng-style="{'background': board_background}"></section>
      <section ng-if="!board_background_image || !board_background_color" class="electrelloBody" ng-view"></section> -->
      <section class="electrelloBody" ng-view ng-style="{'background-image':'url(' + board_background_image + ')'}"></section>
  </body>
  <script>
    // weird way of including jquery
    window.$ = window.jQuery = require('./js/jquery.min.js');
    // angular stuff
    require('./node_modules/angular/angular.js');
    require('./node_modules/angular-material/angular-material.js');
    require('./node_modules/angular-messages/angular-messages.js');
    require('./node_modules/angular-animate/angular-animate.js');
    require('./node_modules/angular-resource/angular-resource.js')
    require('./node_modules/angular-aria/angular-aria.js');
    require('./node_modules/angular-route/angular-route.js');
    // app stuff
    require('./renderer.js');
  </script>
</html>
