<article class="dashboard" ng-controller="DashboardController">
    <div ng-repeat="board_name in board_names">
        <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{ board_name.name }}</span>
                <span class="md-subhead">{{ board_name.id }}</span>
              </md-card-title-text>
              <md-card-title-media>
                <div class="md-media-lg card-media"></div>
              </md-card-title-media>
            </md-card-title>
            <md-card-actions layout="row" layout-align="end center">
              <md-button class="md-raised" ng-click="">View Board</md-button>
              <md-button ng-click="showAlert(ev, board_name.id)">Delete Board</md-button>
            </md-card-actions>
        </md-card>
    </div>

</article>
