<section id="auth_section" ng-controller="ProfileController">
    <!-- <button type="button" ng-click="delete_token()" id="delete_token_btn">Delete Token</button>

    <button type="button" ng-click="delete_profile_data()" id="delete_token_btn">Delete Profile Data</button> -->

    <md-menu>
      <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <md-icon md-menu-origin md-svg-icon="settings"></md-icon>
      </md-button>
      <md-menu-content width="4">
        <md-menu-item>
            <md-button ng-click="">
              <md-icon md-svg-icon="human-greeting"></md-icon>
              View Profile
            </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="delete_token()">
            <md-icon md-svg-icon="delete-forever" md-menu-align-target></md-icon>
            Delete Token
          </md-button>
        </md-menu-item>
        <md-menu-divider></md-menu-divider>
        <md-menu-item>
          <md-button ng-click="delete_profile_data()">
            <md-icon md-svg-icon="delete-sweep"></md-icon>
            Delete Profile Data
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
</section>
