<article class="profile_data" ng-controller="ProfileController">
    <h2 class="fullName">Howdy {{ profile_data.fullName }}</h2>
    <img src="https://www.gravatar.com/avatar/{{ profile_data.gravatarHash }}?s=150" alt="{{ profile_data.username }}" />
    <div ng-show="profile_data.idOrganizations" class="organizationStuff">
        <h2>Organiations</h2>
        <div ng-repeat="organization in organizations">
            <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
                <md-card-title>
                  <md-card-title-text>
                    <span class="md-headline">{{ organization.name }}</span>
                    <span class="md-subhead">{{ organization.id }}</span>
                  </md-card-title-text>
                  <md-card-title-media>
                    <div class="md-media-lg card-media"></div>
                  </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                  <md-button class="md-raised" ng-click="">View Organization</md-button>
                  <md-button ng-click="">Delete Organization</md-button>
                </md-card-actions>
            </md-card>
        </div>
    </div>
</article>
