/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 /* FONTS *
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.bitter {
    font-family: 'Bitter', serif !important;
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 /* GLOBAL *
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.editable-hide {
  display: none;
}

.editable-wrap {
  .editable-buttons {
    button {
      display: inline-block;
      margin: 0 0 0 14px;
      text-transform: capitalize;
      font-family: 'Bitter', serif !important;
    }
  }

  input {
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    box-shadow: none;
    font-family: 'Bitter', serif !important;
  }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 /* HEADER *
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

header {
    text-align: center;
    .profileSettings {
        position: absolute;
        top: 0;
        left: 0;
    }
    h2 {
        display: inline-block;
        font-size: 16px;
        margin: 1% 0;
        vertical-align: middle;
        md-icon {
           display: inline-block;
           height: 14px;
           width: 14px;
           vertical-align: middle;
        }
    }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 /* AUTHORIZE *
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.authorize {
    text-align: center;
    h2 {
        font-size: 10vw;
        letter-spacing: .75vw;
    }
}

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 /* BOARD VIEW *
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/

.electrelloBody {
  width: 100%;
  height: 100%;
  padding: 1% 0;

  .boardView {
    // editable styles for board name
    header {
      text-align: left;
      h2 {
        font-size: 1.5em;
        padding-top: 0.83em;
        padding-bottom: 0.83em;
      }
      .editable-wrap:first-of-type {
        input {
          font-size: 1.5em;
          padding-top: 0.83em;
          padding-bottom: 0.83em;
          font-weight: 700;
        }
      }
    }

    ul[dnd-list], ul[dnd-list] > li {
      position: relative;
    }

    .dndDraggingSource {
      display: none;
    }

    ul {
      margin: 0;
      padding: 0;
      transition: all .2s ease;
      min-height: 42px;

      li {
        display: inline-block;
        vertical-align: top;
        width: 29%;
        background: gray;
        padding: 1%;
        margin: 0 1% 2%;
        transition: all .2s ease;

        .editable-wrap {

          &:first-of-type {
            input {
              font-size: 1.17em;
              padding-top: 1em;
              padding-bottom: 1em;
              font-weight: 700;
            }
          }
        }

        ul {
          transition: all .2s ease;

          li {
            display: block;
            background: lightgray;
            margin: 4% 0;
            padding: 3%;
            width: 94%;
            transition: all .2s ease;

            .editable-wrap {

              &:first-of-type {
                input {
                  font-size: 16px;
                  padding-top: 1em;
                  padding-bottom: 1em;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
}
