/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 /* FONTS *
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.bitter, * {
  font-family: 'Bitter', serif !important; }

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 /* HEADER *
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
header {
  text-align: center; }
  header .profileSettings {
    position: absolute;
    top: 0;
    left: 0; }
  header h2 {
    display: inline-block;
    font-size: 16px;
    margin: 1% 0;
    vertical-align: middle; }
    header h2 md-icon {
      display: inline-block;
      height: 14px;
      width: 14px;
      vertical-align: middle; }

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 /* AUTHORIZE *
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.authorize {
  text-align: center; }
  .authorize h2 {
    font-size: 10vw;
    letter-spacing: .75vw; }

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 /* BOARD VIEW *
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.electrelloBody {
  width: 100%;
  height: 100%;
  padding: 1% 0; }
  .electrelloBody .boardView ul[dnd-list], .electrelloBody .boardView ul[dnd-list] > li {
    position: relative; }
