/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 /* FONTS *
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.bitter {
  font-family: 'Bitter', serif !important; }

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 /* GLOBAL *
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.editable-hide {
  display: none; }

.editable-wrap .editable-buttons button {
  display: inline-block;
  margin: 0 0 0 14px;
  text-transform: capitalize; }

.editable-wrap input {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: none; }

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 /* HEADER *
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
header {
  text-align: center; }
  header .profileSettings {
    position: absolute;
    top: 0;
    left: 0; }
  header h2 {
    display: inline-block;
    font-size: 16px;
    margin: 1% 0;
    vertical-align: middle; }
    header h2 md-icon {
      display: inline-block;
      height: 14px;
      width: 14px;
      vertical-align: middle; }

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 /* AUTHORIZE *
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.authorize {
  text-align: center; }
  .authorize h2 {
    font-size: 10vw;
    letter-spacing: .75vw; }

/*=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
 /* BOARD VIEW *
//-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.electrelloBody {
  width: 100%;
  height: 100%;
  padding: 1% 0; }
  .electrelloBody .boardView header {
    text-align: left; }
    .electrelloBody .boardView header h2 {
      font-size: 1.5em;
      padding-top: 0.83em;
      padding-bottom: 0.83em; }
    .electrelloBody .boardView header .editable-wrap:first-of-type input {
      font-size: 1.5em;
      padding-top: 0.83em;
      padding-bottom: 0.83em;
      font-weight: 700; }
  .electrelloBody .boardView ul[dnd-list], .electrelloBody .boardView ul[dnd-list] > li {
    position: relative; }
  .electrelloBody .boardView .dndDraggingSource {
    display: none; }
  .electrelloBody .boardView ul {
    margin: 0;
    padding: 0;
    transition: all .2s ease;
    min-height: 42px; }
    .electrelloBody .boardView ul li {
      display: inline-block;
      vertical-align: top;
      width: 29%;
      background: gray;
      padding: 1%;
      margin: 0 1% 2%;
      transition: all .2s ease; }
      .electrelloBody .boardView ul li .editable-wrap:first-of-type input {
        font-size: 1.17em;
        padding-top: 1em;
        padding-bottom: 1em;
        font-weight: 700; }
      .electrelloBody .boardView ul li ul {
        transition: all .2s ease; }
        .electrelloBody .boardView ul li ul li {
          display: block;
          background: lightgray;
          margin: 4% 0;
          padding: 3%;
          width: 94%;
          transition: all .2s ease; }
          .electrelloBody .boardView ul li ul li .editable-wrap:first-of-type input {
            font-size: 16px;
            padding-top: 1em;
            padding-bottom: 1em;
            font-weight: 700; }
